@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Basic/_Basic.cshtml";
}

<div class="container">
    <div id="dvCheckInfo">
        <form id="checkInfo" name="checkInfo">
            @Html.AntiForgeryToken()
            <div class="card">
                <div class="card-header"> Phone Number </div>

                <div class="card-body">
                    <label class="text-danger"> Note: Fields mark (*) are required.  </label>
                    <hr />
                    <div class="form-group">
                        <label for="phoneNumber"> Phone Number (*): </label>
                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control required" value="" placeholder="Please enter your phone number" />
                    </div>

                    
                </div>

                <div class="card-footer text-muted">
                    <button type="button" class="btn btn-primary" id="btnSubmit"> <i class="fas fa-upload"></i> Submit </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div style="height:180px"></div>

<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            if (isValid()) {
                ajaxHelper("CheckInfo", $("#checkInfo").serialize(), requestMethod.POST).then(function (done) {
                    if (done == "")
                        window.location.href = "../Account/Register";
                });
            }
        });
    });
</script>





