

@{
    /**/

    ViewBag.Title = "RequestLoan";
    Layout = "~/Views/Shared/Basic/_Basic.cshtml";
}

<div class="container" id="dvLoanRequest">
    <form name="requestLoan" id="requestLoan" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <!-- loan request -->
        <div class="card">
            <div class="card-header"> Loan Request </div>

            <div class="card-body">
                <label class="text-danger"> Note: Fields mark (*) are required.  </label>
                <hr />
                <div class="form-group">
                    <label for="amount"> Amount (*): </label>
                    <select class="form-control required" id="amount" name="amount">
                        <option value=""> -- Please Select Amount -- </option>
                        <option value="10"> 10 $ </option>
                        <option value="20"> 20 $ </option>
                        <option value="50"> 50 $ </option>
                        <option value="100"> 100 $ </option>
                        <option value="200"> 200 $ </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="payDay"> Pay day (*): </label>
                    <select class="form-control required" id="payDay" name="payDay">
                        <option value=""> -- Please Select Pay Day -- </option>
                        <option value="10"> 10 days </option>
                        <option value="15"> 20 days </option>
                        <option value="30"> 30 days </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="payDay"> Pay Date: </label>
                    <input type="text" class="form-control" id="payDate" name="payDate" aria-describedby="payDay" placeholder="Enter pay date">
                </div>

                <hr />
                <div class="form-group">
                    <label for="payDay"> Interest Rate: </label>
                    <input class="form-control" type="text" id="interestRate" name="interestRate" readonly>
                </div>

                <div class="form-group">
                    <label for="payDay"> Interest Amount: </label>
                    <input class="form-control" type="text" id="interestAmount" name="interestAmount" readonly>
                </div>


                <div class="form-group">
                    <label for="payDay"> Total Amount: </label>
                    <input class="form-control" type="text" id="loanAmount" name="loanAmount" readonly>
                </div>
            </div>
        </div>
        <!-- end loan request -->

        <br />

        <div class="card">
            <div class="card-body text-dark shadow-sm">
                <button type="button" class="btn btn-primary" id="btnSumbit"> Submit </button>
            </div>
        </div>

        <input type="hidden" id="accountID" name="accountID" value="@ViewBag.accountID" />
    </form>
</div>


<div id="dvMsg" style="display:none">
    <div class="card border-info text-center">
        <div class="card-body text-dark shadow-sm">
            <h2 class="text-success"> Your request has been successfully submitted to server! </h2>
            <br />
            <h3>We will contact you very soon.</h3>
        </div>
    </div>
</div>

<script src="~/Content/js/function/loanCalculation.js"></script>
<script>
    var url = "@Url.Content("~/account")";
    $(document).ready(function () {
        loanAmount();

        $("#amount, #payDay").change(function () {
            loanAmount();
        });


        $("#btnSumbit").click(function () {
            handleSubmit();
        });

    });

    //-> handleSubmit
    function handleSubmit() {
        if (isValid()) {
            ajaxHelper(url +"/requestloan?", $("#requestLoan").serialize(), requestMethod.POST).then(function (done) {
                if (done != "")
                    $("#dvLoanRequest").html($("#dvMsg").html());
            });
        }
    }
</script>

