
@{
    ViewBag.Title = "Payback";
    Layout = "~/Views/Shared/Basic/_Default.cshtml";
}
<div style="min-height:800px;background-color:#C7C6BD" class="container /*card*/">
    <div class="card-body">
        @Html.Raw(LoanWebApp.Resources.lang.aboutUsContent)
        <!--
    <h3>About Us</h3><hr />
    <p><strong>MARIELBank</strong> began with a genuine desire to help the people of Cambodians who need quick cash to meet their daily needs.</p>

    <p><strong>MARIELBank</strong> provides micro and small quick loans to the employed and the business owners.</p>

    <p>We give you quick cash only and only if you need it, not you want it. So we want to see you use it wisely. We don&rsquo;t bother to call you or we are not expected you to call us either. Your privacy is our top priority.</p>

    <p>Interest is not our first question, it&rsquo;s the second. Our first is how we can help you.</p>
    <p>Because we give quick and easy cash without collaterals and it&rsquo;s the business nature that we have to make a profit, we have to put a fair interest rate on your loan.</p>

    <p>Customers can apply for loans in a fast and easy way that takes them only 1 minute. using website or app.</p>

    <p>You can reach us by <strong>067 69 69 67</strong> or <strong>070 69 69 67</strong> or facebook <a href="https://www.facebook.com/1rielbank/" target="_blank">ARIELBank</a></p>
    <p>The employed who can provide employment letter and bank account and business owners who have business license or patent and bank account can apply for help.</p>
    <p><strong>MARIELBank</strong>&rsquo;s mission is to help the employed people and business owners who need quick cash for good value-added purposes while offering good and fair benefits to all stakeholders in community.</p>
        -->
    </div>
</div>