@model LoanWebApp.Models.DTO.GetListDTO<LoanWebApp.Models.DTO.CheckLoanRequest.CheckLoanRequestViewDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form name="checkLoanRequest" id="checkLoanRequest">
    @Html.AntiForgeryToken()
    
    <div class="card shadow-sm border-info" id="dvAction">
        <div class="card-body text-dark shadow-sm">
            <button type="button" class="btn btn-primary" id="btnEdit" onclick="edit()"> <i class="fas fa-search"></i> Find </button>
            <button type="button" class="btn btn-danger" id="btnCancel" onclick="cancel()"> <i class="fas fa-times"></i> Clear  </button>
        </div>
    </div>
    
    <br />

    <div class="card shadow-sm" id="dvFindLoadAccount">
        <div class="card-header"> Find Load Account </div>

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="phoneNumber"> Phone Number: </label>
                        <input type="text" class="form-control required required" id="phoneNumber" name="phoneNumber" aria-describedby="phoneNumber" placeholder="Enter phone number">
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="email"> E-mail: </label>
                        <input type="text" class="form-control required required" id="email" name="email" aria-describedby="email" placeholder="Enter e-mail">
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <br />
    
    <div id="tblCheckLoanRequest" class="shadow-sm bg-white"></div>
    

</form>

<script>

    $(document).ready(function () {
        paging(1);
    });

    function paging(page) {
        ajaxHelper("Paging/" + page, $("#register").serialize(), requestMethod.POST).then(function (done) {
            $("#tblCheckLoanRequest").html(done);
        });
    }

</script>

