@model LoanWebApp.Models.DTO.GetListDTO<LoanWebApp.Models.DTO.CheckLoanRequest.CheckLoanRequestViewDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form name="findCustomer" id="findCustomer">
    @Html.AntiForgeryToken()

    <input type="hidden" name="currentPage" id="currentPage" value="1" />
    <div class="card shadow-sm" id="dvAction">
        <div class="card-body text-dark shadow-sm merienda">
            <button type="button" class="btn btn-primary" id="btnFind" onclick="find()"> <i class="fas fa-search"></i> Find </button>
            <button type="button" class="btn btn-danger" id="btnCancel" onclick="cancel()"> <i class="fas fa-times"></i> Clear  </button>
        </div>
    </div>

    <br />

    <div class="card shadow-sm" id="dvFindLoadAccount">
        <div class="card-header merienda"> Find Customer </div>

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="name"> Customer ID: </label>
                        <input type="text" class="form-control required required" id="name" name="name" aria-describedby="name" placeholder="Customer Id">
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="email"> E-mail: </label>
                        <input type="text" class="form-control required required" id="email" name="email" aria-describedby="email" placeholder="Enter e-mail">
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="status"> Status: </label>
                        <select class="form-control required" id="status" name="status">
                            <option value=""> -- Please Select Status -- </option>
                            <option value="Pending"> Pending </option>
                            <option value="SubmitForApproval"> Submit For Approval </option>
                            <option value="Approved"> Approved </option>
                            <option value="Rejected"> Rejected </option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br />

    <div id="tblCheckLoanRequest" class="shadow-sm bg-white"></div>

    <br />


</form>

<script>
    var url = "@Url.Content("~/checkloanrequest")";
    $(document).ready(function () {
        paging(1);
    });

    //-> paging
    function paging(currentPage) {
        $("#currentPage").val(currentPage);
        ajaxHelper(url + "/paging/", $("#findCustomer").serialize(), requestMethod.POST).then(function (done) {
            $("#tblCheckLoanRequest").html(done);
        });
    }

    //-> cancel
    function cancel() {
        location.reload();
    }

    //-> find 
    function find() {
        $("#currentPage").val(1);
        paging(1);
    }

</script>

