
@{
    ViewBag.Title = "Payback";
    Layout = "~/Views/Shared/Basic/_Default.cshtml";
}
<div style="min-height:800px;background-color:#C7C6BD" class="container">
    <div class="card-body">
        @Html.Raw(LoanWebApp.Resources.lang.helpCenterContent)
        <!--
    <h3>Help Center</h3><hr />
    <p class="Body"><strong>Who we are ?</strong></p>
    <p class="Body">MARIELBank is born with a genuine desire to help people.</p>
    <p class="Body">We provide micro and small quick loans to the employed and the business owners.</p>
    <p class="Body">We give you quick cash only and only if you need it, not you want it. So we want to see you use it wisely. We don&rsquo;t bother to call you or we are not expected you to call us either. Your privacy is our top priority.</p>
    <hr/>
    <p class="Body"><strong>What is the interest rate ?</strong></p>
    <p class="Body">Interest is not our first question, it&rsquo;s the second. Our first is how we can help you.</p>
    <p class="Body">Because we give quick and easy cash without collaterals and it&rsquo;s the business nature that we have to make a profit, we have to put a fair interest rate on your loan.</p>
    <p class="Body">You see loan repayment amount on each loan request you apply for.</p>
    <hr />
    <p class="Body"><strong>How am I updated on my request?</strong></p>
    <p class="Body">After you submit your loan request, you will receive an email telling you have applied for such a loan. After your loan is approved and transferred to your account, you will receive the second email along with repayment schedule.</p>
    <hr />
    <p class="Body"><strong>Who can apply?</strong></p>
    <p class="Body">Anyone can apply as long as they can provide required documents as stated on our web and our app. They can apply any time and any where.</p>
    <hr />
    <p class="Body"><strong>How much time to receive money?</strong></p>
    <p class="Body">We are committed to help you within 24 hours.</p>
    <hr />
    <p class="Body"><strong>How can I repay?</strong></p>
    <p class="Body">We can pay back on or before 3pm of due date. We don&rsquo;t want to penalize you but if you are late, we charge you using your loan interest rate divided by your loan days and times late days. Again we don&rsquo;t wanna penalize you. You can pay us by Wing xxx or Acleda xxx by telling your loan number and phone number.</p>
    <p class="Body" style="margin-top: 8.0pt; line-height: 120%;"><span style="font-size: 12.0pt; line-height: 120%;">You pay for transfer fee when repaying your loan.</span></p>
    <hr />
    <p class="Body"><strong>I can repay early?</strong></p>
    <p class="Body">We recommend you to repay early to receive good rating so that we can help you faster next time.</p>
    <hr /><hr />
    <p class="Body"><strong>I can repay late?</strong></p>
    <p class="Body">We do not want to penalize you and don&rsquo;t want to get more interest from you. Your late payment will affect your rating and the late fee is calculated as your loan interest rate divided by your loan days and times late days.</p>

    <p class="Body"><strong>I can take another loan?</strong></p>
    <p class="Body">As we wanna only help you use your money wisely, you have to pay your current loan before requesting the next one.</p>
    <hr />
    <p class="Body"><strong>How is my privacy is protected?</strong></p>
    <p class="Body">Your privacy and your convenience are our priorities. We don&rsquo;t bother calling you or we are not expected you to call us either.</p>
    <p class="Body">By using our service and accessing our platform, you accept and consent to terms set out in this privacy policy.</p>
    <p class="Body">Information you give us to apply for loans will be used for recording database or for resolving any disputes or assisting in arrangements with our business partners.</p>
        -->
    </div>
</div>