<footer class="c-footer shadow-sm">
    <div class="container-fluid">
        <div class="container">
            <br />
            <div class="row merienda">


                <div class="col-sm">
                    <h5> <strong> @LoanWebApp.Resources.lang.ourAddress </strong> </h5>
                    <hr class="c-hr" />
                    @Html.Raw(LoanWebApp.Resources.lang.address)
                </div>

                <div class="col-sm">
                    <div style="text-align:right"><h5> <strong> Follow Us </strong> </h5></div>
                    <hr class="c-hr" />
                    <div style="text-align:right">
                        <a href="https://www.facebook.com/1rielbank/" target="_blank">
                            <i class="fab fa-facebook-square fa-2x"> </i>
                        </a> &nbsp;
                        <a href="#"> <i class="fab fa-instagram fa-2x"> </i></a> &nbsp;
                        <a href="#"> <i class="fab fa-line fa-2x"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


