<footer class="c-footer shadow-sm">
    <div class="container-fluid">
        <div class="container">
            <br />
            <div class="row">
                <div class="col">
                    <h3> <strong> Our services </strong> </h3>
                    <hr class="c-hr" />
                    <ul>
                        <li> # Service 1 </li>
                        <li> # Service 2 </li>
                        <li> # Service 3 </li>
                    </ul>
                </div>

                <div class="col">
                    <h3> <strong> Our Address </strong> </h3>
                    <hr class="c-hr" />
                    <ul>
                        <li> # Address 1 </li>
                        <li> # Address 2 </li>
                        <li> # Address 3 </li>
                    </ul>
                </div>

                <div class="col">
                    <h3> <strong> Follow Us </strong> </h3>
                    <hr class="c-hr" />
                    <div>
                        <a href="#"> <i class="fab fa-facebook-square fa-2x"> </i></a> &nbsp;
                        <a href="#"> <i class="fab fa-instagram fa-2x"> </i></a> &nbsp;
                        <a href="#"> <i class="fab fa-twitter-square fa-2x"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


