<header class="c-header shadow-sm">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <br />
                    <div class="shadow-sm" style="padding:20px;">
                        <h3> <strong> CityMall Branch </strong> </h3>
                        <p> #123, Str. ABC Blvd, Phnom Penh, Cambodia. </p>
                        <p> <i class="fas fa-phone-volume"></i> : 012 123 456</p>
                    </div>
                </div>

                <div class="col d-flex align-items-center justify-content-center h-100">
                    <img src="~/Content/img/logo.png" class="img-logo" />
                </div>

                <div class="col">
                    <br />
                    <div class="shadow-sm" style="padding:20px;">
                        <h3> <strong> Aeon Branch </strong> </h3>
                        <p> #123, Str. ABC Blvd, Phnom Penh, Cambodia. </p>
                        <p> <i class="fas fa-phone-volume"></i> : 017 789 456 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>